<section>
  <div id="{{ .identifier }}" class="jumbotron">
    {{ with .context.Title }}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4 mt-2 text-center">
          <h2 class="mb-2">{{ . }}</h2>
        </div>
      </div>
    </div>
    {{ end }}

    <div class="container">
      {{ $partial  := .identifier | printf "%s.html" }}
      {{ if .context.Params.pattern }}
        {{ $contents := .context.Resources.Match .context.Params.pattern }}
        {{ $parent := .context }}
        {{ range sort $contents "Name" }}
          {{ partial $partial (dict "context" . "parent" $parent) }}
        {{ end }}
      {{ else }}
      <div class="row">
        {{ partial $partial .context }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
