<footer class="text-center text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12  text-left">
        <a href="/vol-2/"><img src="/images/redminejapan_logo_vol03.svg" style="width:200px;" alt=""/></a>
      </div>
      <div class="col-md-7 col-sm-12  text-left">
        <ul class="list-unstyled footer-text">
          {{ range .Site.Menus.main }}
          <li> <a class="text-white" href="{{ .URL }}">{{ .Name }}</a> </li>
          {{ end }}
      </div>
    </div>

    <div class="container">
      <div class="row copyright">
        <div class="col-12 text-white">
          <p>{{ .Site.Copyright }}</p>
        </div>
      </div>
    </div>
</footer>
