<div class="row speaker">
  {{ if isset .context.Params "talk" }}
    {{ $talk := .parent.Resources.GetMatch .context.Params.talk }}
  <div class="col-xl-12 col-lg-12 text-center mt-4 mb-5 speech-ttl">
    <h3 class="font-weight-bold">{{ $talk.Title }}</h3>
    {{ $talk.Content }}
  </div>
  {{ end }}
  {{ $photo := .parent.Resources.GetMatch .context.Params.photo }}
  <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 text-center">
    <img class="rounded" alt="{{ .context.Params.Alt }}" src="{{ $photo.RelPermalink }}" width="{{ $photo.Width }}" height="{{ $photo.Height }}" data-holder-rendered="true" loading="lazy">
  </div>
  <div class="col-xl-7 col-lg-6 col-md-6 col-sm-12 text-left">
    <h3 style="line-height:2;">{{ .context.Title }}</h3>
    <div class="speaker_text text-blue">
      {{ .context.Content }}
    </div>
  </div>
</div>
