{{ define "main" }}
<section>
  <div class="jumbotron top_main">
    <div class="container">
      <div class="row">
        <div class="col-12 mainttl">
          <h1 class="text-center"><img class="main_typo" src="/vol-3/images/redminejapan_typo_vol03logo.png" alt="Redmine Japan Vol.3"/></h1>
          <h2 class="text-center text-white main_subttl">明日の仕事を変えるために必要なモノ</h2> 
          <p class="text-center text-white main_date">2023. 7. 7 FRI<br><!--AM10:00 start<br><span class="open-time">［AM9:00 Open］</span><br>-->
          <span><small>オフライン開催決定！<br>＠タワーホール船堀</small></span>
          <div class="text-center text-lg-center d-none">
            <p class="main_entry">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ $blocks := slice "speakers" "access" "sponsors" "contact" "twitter" "past" }}
{{ range $blocks }}
  {{ $path := . | printf "/%s" }}
  {{ $context := $.Site.GetPage $path }}
  {{ partial "container.html" (dict "identifier" . "context" $context) }}
{{ end }}

{{ end }}
