<section>
<div class="container table_topttl">
  <div class="row">
    <div class="col-lg-2 col-md-12 text-center table-border table-bg-gr">
      <p class="m-md-2">TIME</p>
    </div>
{{ range .Site.Data.timetable.room }}
  <div class="col-lg-{{ .width }} col-md-12 text-center table-border table-bg-{{ .class}}">
    <p class="m-md-2"><a href="" class="head" target="_target" rel="noopener noreferrer">{{ .title }}</a></p>
  </div>
{{ end }}
  </div>
</div>
{{ range .Site.Data.timetable.body }}
<div class="container">
  <div class="row" {{ with .time }} id="{{ . }}" {{ end }}>
    <div class="col-lg-2 col-md-12 text-center table-border table-bg-gr">
      <p class="lead m-md-1 table-fontsize-main">{{ .start }} {{ with .end }} ～ {{ . }} {{ end }}</p>
    </div>

{{ with .events }}
  {{ if isset . "id" }}
    <div class="col-lg-10 col-md-12 text-left bg-white text-dark table-border table-mix">
      {{ partial "event.html" . }}
    </div>
  {{ else }}
    {{ range $room, $event := . }}
      {{ if isset $event "id" }}
        {{ partial "event_box.html" (dict "event" (partial "event.html" $event) "room" $room) }}
      {{ end }}

      {{ with $event.subevents }}
        {{ partial "event_box.html" (dict "event" (partial "subevent.html" .) "room" $room) }}
      {{ end }}

      {{ with $event.note }}
        <div class="col-lg-8 col-md-12 text-center table-bg-break text-dark table-border table-mix">
          <p class="lead m-md-1 table-fontsize-main">{{ . }}</p>
        </div>
      {{ end }}

      {{ if (or (and (isset $event "ditto") (eq $event.ditto "top")) (isset $event "narrow")) }}
        {{ partial "note.html" $event }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ with .note }}
  <div class="col-lg-10 col-md-12 text-center bg-white text-dark table-border table-mixall">
    <p class="lead m-md-1 table-fontsize-main">
      {{ . }}
    </p>
  </div>
  {{ else }}
  <div class="col-lg-10 col-md-12 text-left bg-white text-dark table-border table-mix">
    <p class="lead m-md-1 table-fontsize-main">
      {{ .title }}<br />
      {{ .speaker }}
    </p>
  </div>
  {{ end }}
{{ end }}
  </div>
</div>
{{ end }}
</section>

{{/* 講演詳細 */}}
<section>
  <div id="speakers_details" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4 mt-2 text-center">
          <h2 style="margin: 30px 0 0;">講演内容</h2>
        </div>
      </div>
    </div>

{{ $speakers := $.Site.GetPage "/speakers" }}

{{ range .Site.Data.timetable.body }}
  {{ $start := .start }}
  {{ $end   := .end }}
  {{ $time  := .time }}
{{ with .events }}
  {{ if isset . "anchor" }}
    {{ $photo   := $speakers.Resources.GetMatch .photo }}
    {{ $profile := $speakers.Resources.GetMatch .profile }}
    {{ $session := $speakers.Resources.GetMatch .session }}
<div id="{{ .anchor }}" class="container ">
  <a class="back_timetable" href="#{{ $time }}">タイムテーブルへ</a>
  <div class="row sp_details text-center">
    <div class="col-sm-12 col-md-10 mx-auto text-center">
      <p class="lecture_top text-left">
        <span class="a-hall">{{ .id }}</span>
        <span class="keynote">基調講演</span>{{ $start }}〜{{ $end }}
      </p>
      <h3 class="text-left">{{ safeHTML .title }}</h3>
      <p class="text-left lecture_text">{{ partial "strip_p_element" $session }}</p>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-10 col-sm-12 mx-auto text-center speaker">
      <img class="rounded" alt="{{ .alt }}" src="{{ $photo.RelPermalink }}" width="{{ $photo.Width }}" height="{{ $photo.Height }}" data-holder-rendered="true" loading="lazy">
    </div>
    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-12 mx-auto text-center speaker">
      <h3 class="text-left">{{ .speaker }}</h3>
      <p class="text-left speaker_text">{{ partial "strip_p_element" $profile }}</p>
    </div>
  </div>
</div>
  {{ end }}
{{ end }}
{{ end }}
</section>

{{ define "partials/event_box.html" }}
  {{ $width := cond (eq .room "a") 4 3 }}
  <div class="col-lg-{{$width}} col-md-12 text-left bg-white text-dark table-border">
    {{ .event }}
  </div>
{{ end }}

{{ define "partials/subevent.html" }}
  {{ range . }}
    {{ partial "event.html" . }}
  {{ end }}
{{ end }}

{{ define "partials/event.html" }}
  {{ $cat := dict "keynote" "基調講演" "invited" "招待講演" "ops" "運用" "case" "事例" }}
  <p class="lead m-md-1 table-fontsize-main">
  {{ if isset . "category" }}
  <span class="category {{ .category }}">{{ index $cat .category }}</span><br/>
  {{ end }}
  {{ if isset . "anchor" }}
    <a href="#{{ .anchor }}">
    {{ safeHTML .title }}
    {{ if isset . "speaker" }}
    <br/><span class="speaker">{{ .speaker }}</span>
    {{ end }}
    </a>
  {{ else }}
    {{ safeHTML .title }}
    {{ if isset . "speaker" }}
    <br /><span class="speaker">{{ .speaker }}</span>
    {{ end }}
  {{ end }}
  </p>
{{ end }}

{{ define "partials/note.html" }}
   {{ $border := cond (and (isset . "ditto") (eq .ditto "top")) "" "table-border" }}
   {{ $border := cond (isset . "narrow") "table-border-top" $border}}
   <div class="col-lg-3 col-md-12 text-center {{ $border }} bg-white table-bg-cr text-dark">
     <p class="m-md-2">{{ .note }}{{ .banner }}</p>
   </div>
{{ end }}
