<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">

    {{ $style := resources.Get "vol-3/css/style.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/56e12542fc.js" crossorigin="anonymous"></script>

    <!-- All in One SEO 4.1.6.2 -->
    {{ partial "seo.html" . }}
    <!-- All in One SEO -->

    {{ partial "emoji.html" . }}

    <script type='text/javascript' src='//webfonts.sakura.ne.jp/js/sakurav3.js?fadein=0&#038;ver=3.1.0' id='typesquare_std-js'></script>

    <link rel="icon" href="/vol-3/images/cropped-Redmine-Japan-Vol.3_icon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/vol-3/images/cropped-Redmine-Japan-Vol.3_icon-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/vol-3/images/cropped-Redmine-Japan-Vol.3_icon-180x180.png" />
    <meta name="msapplication-TileImage" content="/vol-3/images/cropped-Redmine-Japan-Vol.3_icon-270x270.png" />

    {{ partial "gtag.html" . }}
  </head>
  <body>
    {{ partial "header/site-header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer/site-footer.html" . }}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"></script>
    <script>
      $(function(){
              $('a[href^="#"]').click(function(){
                      var adjust = 0;
                      var speed = 400;
                      var href= $(this).attr("href");
                      var target = $(href == "#" || href == "" ? 'html' : href);
                      var position = target.offset().top + adjust;
                      $('body,html').animate({scrollTop:position}, speed, 'swing');
                      return false;
                    });
            });
    </script>
  </body>
</html>

