<header>
  <nav class="navbar navbar-expand-lg navbar-light navbar-bg">
    <a class="navbar-brand" href="/"><img src="/images/redminejapan_logo_vol03.svg" alt="Redmine Japan vol.3" style="height:51px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!--<li class="nav-item"> <a class="nav-link" href="/#info">お知らせ</a> </li> -->
        <li class="nav-item"> <a class="nav-link" href="/#speakers">基調講演</a> </li>
        <!--	<li class="nav-item"> <a class="nav-link" href="https://events.zoom.us/ev/AGUuRYG8a6eklj3sKrh2nmYzyLaiBPqm8r6zzydHN8EEGK7AruWrgA2olSHPOI02YyXDS7Y" target="_blank">タイムテーブル</a> </li>-->
        <li class="nav-item"> <a class="nav-link" href="/#sponsors">スポンサー</a> </li>
        <!--	  <li class="nav-item"> <a class="nav-link" href="/anti-harassment/">アンチハラスメントポリシー</a> </li>	-->
        <!--     <li class="nav-item"> <a class="nav-link" href="/#contact">お問い合わせ</a> </li>	-->
      </ul>
    </div>
  </nav>
</header>

